/* MAIN FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$mainFont: "Montserrat", sans-serif;
$primaryFont: "Lato", sans-serif;
$para: 700;
$lightPara: 400;
$bigHead: 800;
$subHead: 600;
$smallPara: 200;
$smallSize: 14px;
